.button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: transform 0.1s;
}

.button:hover {
    transform: scale(0.95)
}